@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bai+Jamjuree:ital,wght@0,500;0,600;0,700;1,400&family=Bebas+Neue&family=Commissioner:wght@400;500;700&family=DM+Serif+Display&family=Inter:wght@400;500;700&family=Karla:wght@400;700&family=Open+Sans:wght@500;700&family=Overpass:wght@400;700&family=Poppins:wght@400;500;600;700&family=Rubik+Gemstones&family=Rubik+Vinyl&family=Signika:wght@500&family=Space+Grotesk:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #f4e5d4;
  border-radius: 20px;
}

body {
  background: #000;
  width: 100%;
  height: 100%;
  position: relative;
}

.result {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  padding: 50px;
}
.result h1 {
  margin-bottom: 30px;
}
.result .result-movies {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.result .result-movies .movie {
  width: 193px;
  height: 300px;
  border-radius: 8px;
  background: #1A1F38;
}
.result .result-movies .movie img {
  width: inherit;
  border-radius: 8px 8px 0 0;
}
.result .result-movies .movie h4, .result .result-movies .movie p {
  margin-left: 10px;
  font-size: 14px;
}
.result .result-movies .movie p {
  font-weight: 200;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  width: 100%;
  position: fixed;
  background: #1A1F38;
  top: 0;
  z-index: 1;
}
nav .logo {
  font-size: 1.8rem;
  text-decoration: none;
  cursor: pointer;
}
nav .logo span {
  color: #FFDA18;
}
nav .search_div {
  width: 300px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 8px;
  background: rgba(196, 196, 196, 0.3);
  display: flex;
  align-items: center;
}
nav .search_div input {
  outline: none;
  border: none;
  width: 260px;
  height: inherit;
  padding: 0 10px;
  font-family: "Open Sans", sans-serif;
  border-radius: 8px;
  background: transparent;
  color: #fff;
}
nav .search_div button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
nav .search_div button img {
  width: 30px;
}

main {
  margin: 60px 0;
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(/img/batman.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
main .hero {
  margin-top: 40px;
  max-width: 500px;
  text-align: center;
}
main .hero h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
main .hero p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
}

.treding {
  width: 100%;
  height: auto;
  padding: 0 50px;
  overflow: hidden;
}
.treding h1 {
  font-weight: 700;
  font-size: 2.5rem;
  margin: 10px 0;
}
.treding ::-webkit-scrollbar {
  display: none;
}
.treding .scroll-container {
  width: 100%;
  height: 400px;
  overflow-x: scroll;
  white-space: nowrap;
}
.treding .scroll-container .scroll-content {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.treding .scroll-container .scroll-content .movie {
  width: 193px;
  height: 300px;
  border-radius: 8px;
  background: #1A1F38;
}
.treding .scroll-container .scroll-content .movie img {
  width: inherit;
  height: 250px;
  border-radius: 8px 8px 0 0;
}
.treding .scroll-container .scroll-content .movie div {
  margin-left: 10px;
  width: 180px;
}
.treding .scroll-container .scroll-content .movie div h4, .treding .scroll-container .scroll-content .movie div p {
  font-size: 12px;
}
.treding .scroll-container .scroll-content .movie div p {
  font-weight: 200;
}

footer {
  padding: 50px;
}
footer .copyright {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .copyright h1 {
  font-size: 1.8rem;
}
footer .copyright h1 span {
  color: #FFDA18;
}
footer h3 {
  font-weight: 300;
  font-size: 0.9rem;
}

@media (max-width: 650px) {
  nav {
    padding: 10px 20px;
  }
  nav .logo {
    font-size: 1.3rem;
  }
  .result {
    padding: 20px;
  }
  .treding {
    padding: 0 20px;
  }
  .treding h1 {
    font-size: 1.6rem;
  }
  footer {
    padding: 20px;
  }
  footer .copyright h1 {
    font-size: 1.2rem;
  }
  footer h3 {
    font-size: 0.7rem;
  }
}/*# sourceMappingURL=MyStyle.css.map */